<h1> Goal</h1>

<p>
  <%=@goal.body %>
</p>

<form action= "<%=cheers_url  %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="cheer[goal_id]" value="<%= @goal.id %>">
  <input type="submit" value="Cheer!">
</form>

<ul>
  <li>
    cheers: <%= @goal.cheer_count %>
  </li>
  <li>
    completed: <%=@goal.completed%>
  </li>
  <li>
    private: <%=@goal.private %>
  </li>
</ul>

<h3>Comments</h3>
<ul>
  <% @goal.comments.each do |comment| %>
    <li>
      <%= comment.body %>
      <%= button_to "Delete Comment", comment_url(comment), method: "delete" %>
    </li>
  <% end %>
</ul>

<%= render "comments/form", object: @goal %>

<%= button_to "Edit Goal", edit_goal_url(@goal), method: :get %>
<%= button_to "Delete Goal", goal_url(@goal), method: :delete %>
<%= link_to "User Page", user_url(@goal.user_id), method: :get %>
<%= link_to "Leader Board", goals_url, method: :get %>
